.profile__button_operation_edit {
  width: 24px;
  height: 24px;
  background-image: url("../../../../icons/edit.svg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .profile__button_operation_edit {
    width: 18px;
    height: 18px;
  }
}
