.profile__description {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 649px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    justify-self: center;
  }
}
