.popup__button-close {
  position: absolute;
  right: -40px;
  top: -40px;
  padding: 0;
  width: 32px;
  height: 32px;
  background-image: url("../../../icons/Close\ Icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: opacity 0.2s ease-in-out;
}

.popup__button-close:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 540px) {
  .popup__button-close {
    right: 0;
    width: 20px;
    height: 20px;
  }
}
