.profile__avatar {
  display: block;
  border-radius: 50%;
  margin-right: 30px;
  object-fit: cover;
  object-position: center 0px;
}

@media screen and (max-width: 600px) {
  .profile__avatar {
    margin-right: 0;
  }
}
